table {
    margin: auto;
    padding: 20px 0;
    width: 90%;
    table-layout: fixed;
    
}

.frcol {
    width: 10%;
}

.secol {
    width: 50%;
}

.thcol {
    width: 10%;
}

.focol {
    width: 10%;
}

.ficol {
    width: 20%;
}

table thead tr th {
    position: sticky;
    top: 0;
    color: white;
    height: 60px;
    background-color: red;
}

table tbody {
    overflow: auto;
}

td {
    text-align: center;
    word-wrap: break-word;
    border: 1px solid rgba(255, 255, 255, 0.342);
    border-radius: 5px;
    height: 40px;
}

/*tr:nth-child(even) {
    background-color: #dddddd;
}*/

.subjectGroup {
    text-align: left;
}

th {
    position: sticky;
    top: 60px;
    color: white;
    background-color: red;
    text-align: center;
}

@media screen and (max-width: 1050px) {
    table {
        width: 100%;
    }
    td {
        height: 30px;
    }
}

