table {
    margin: auto;
    padding: 70px 0;
    width: 90%;
    table-layout: fixed;
    
}

.frcol {
    width: 10%;
}

.secol {
    width: 50%;
}

.thcol {
    width: 10%;
}

.focol {
    width: 10%;
}

.ficol {
    width: 20%;
}

table thead tr th {
    position: sticky;
    top: 0;
    color: white;
    height: 60px;
    background-color: black;
}

table tbody {
    overflow: auto;
}

th {
    text-align: center;
}
td {
    text-align: center;
    word-wrap: break-word;
    border: 1px solid rgba(255, 255, 255, 0.342);
    border-radius: 5px;
    height: 40px;
}

/*tr:nth-child(even) {
    background-color: #dddddd;
}*/

#group {
    text-align: left;
}

tbody th {
    position: sticky;
    top: 60px;
    color: white;
    background-color: black;
}

